@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Montserrat;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.bg-primary {
  background-color: #51aafa !important;
}
.bg-success {
  background-color: #1dc9cb !important;
}
.bg-info {
  background-color: #31ccfe !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #51aafa !important;
  border-color: #51aafa !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0786f7 !important;
  border-color: #0786f7 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0786f7 !important;
  border-color: #0786f7 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #51aafa !important;
  border-color: #51aafa !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0786f7 !important;
  border-color: #0786f7 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0786f7 !important;
  border-color: #0786f7 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #31ccfe !important;
  border-color: #31ccfe !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #01abe1 !important;
  border-color: #01abe1 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #01abe1 !important;
  border-color: #01abe1 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #0678df !important;
  color: #0678df !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #51aafa !important;
  border-color: #51aafa !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #51aafa !important;
  border-color: #51aafa !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #0678df !important;
  color: #0678df !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #51aafa !important;
  border-color: #51aafa !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #51aafa !important;
  border-color: #51aafa !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #0197c8 !important;
  color: #0197c8 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #31ccfe !important;
  border-color: #31ccfe !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #31ccfe !important;
  border-color: #31ccfe !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #107172 !important;
  color: #107172 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #8e8e8e !important;
  color: #8e8e8e !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #111111 !important;
  color: #111111 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #51aafa !important;
}
.text-secondary {
  color: #51aafa !important;
}
.text-success {
  color: #1dc9cb !important;
}
.text-info {
  color: #31ccfe !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0678df !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0678df !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #107172 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0197c8 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #1dc9cb;
}
.alert-info {
  background-color: #31ccfe;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:hover,
.mbr-section-btn a.btn:focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #51aafa;
  border-color: #51aafa;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #51aafa;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bef5f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fcfeff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
.mbr-arrow-up a {
  width: 61px;
  height: 61px;
}
#scrollToTop a {
  background: #f4f8fa;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #000000;
  width: 3%;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mbr-arrow i {
  color: #f4f8fa;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #51aafa;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #51aafa;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #51aafa;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #51aafa;
  color: #ffffff;
}
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #51aafa;
  border-bottom-color: #51aafa;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #51aafa !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #51aafa !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2351aafa' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-repa7rjItl {
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background-image: url("../../../assets/images/mbr-1920x1080.jpg");
}
.cid-repa7rjItl .mbri-down {
  font-size: 16px !important;
  color: white;
}
.cid-repa7rjItl .mbr-section-title,
.cid-repa7rjItl .mbr-section-subtitle {
  color: #000000;
}
.cid-repa7rjItl .mbr-section-text {
  color: #232323;
}
.cid-repa7rjItl .mbr-text,
.cid-repa7rjItl .typed-text,
.cid-repa7rjItl .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-repa7rjItl .btn {
  margin-left: 4px !important;
}
.cid-repa7rjItl .animated-element {
  color: #31ccfe;
}
.cid-repa7rjItl .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #31ccfe;
}
.cid-repa7rjItl .mbr-figure {
  border-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cid-repa7rjItl .mbr-figure {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-repa7rjItl .typed-text,
  .cid-repa7rjItl .mbr-section-subtitle,
  .cid-repa7rjItl .mbr-section-text,
  .cid-repa7rjItl .mbr-section-btn {
    text-align: center !important;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-repa7rjItl P {
  color: #f4f8fa;
  text-align: center;
}
.cid-repa7rjItl .mbr-section-text,
.cid-repa7rjItl .mbr-section-btn {
  text-align: left;
  color: #f4f8fa;
}
.cid-repa7rjItl .mbr-section-subtitle,
.cid-repa7rjItl .typed-text {
  color: #ffffff;
}
.cid-repa7rjItl .mbr-section-subtitle,
.cid-repa7rjItl .typed-text B {
  color: #f4f8fa;
}
.cid-repa7rjItl .mbr-section-text,
.cid-repa7rjItl .mbr-section-btn B {
  color: #000000;
}
.cid-s84fyo2O5j {
  padding-top: 45px;
  padding-bottom: 60px;
  background: #111111;
  background: linear-gradient(#111111, #3b7cb7);
}
.cid-s84fyo2O5j .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s84fyo2O5j .video-block {
  margin: auto;
}
@media (max-width: 767px) {
  .cid-s84fyo2O5j .video-block {
    width: 100% !important;
  }
}
.cid-s84fyo2O5j .mbr-section-title {
  color: #efefef;
}
.cid-rVQGBMsMJ6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1-1920x1080.jpg");
}
.cid-rVQGBMsMJ6 .mbr-section-title {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2.5rem;
}
.cid-rVQGBMsMJ6 .tab-header {
  color: #51aafa;
}
.cid-rVQGBMsMJ6 .mbr-section-subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
  color: #6e7584;
}
.cid-rVQGBMsMJ6 .mbr-element-title {
  margin-bottom: 1rem;
}
.cid-rVQGBMsMJ6 .card-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cid-rVQGBMsMJ6 .card-img span {
  font-size: 80px;
}
.cid-rVQGBMsMJ6 .nav {
  border: none;
  margin-bottom: 3rem;
}
.cid-rVQGBMsMJ6 .nav-tabs {
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rVQGBMsMJ6 .tabcont {
  z-index: 1;
  margin: 0;
}
.cid-rVQGBMsMJ6 .nav-item {
  margin-top: 1rem;
}
.cid-rVQGBMsMJ6 .tab-content-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
}
.cid-rVQGBMsMJ6 .tab-content {
  width: 100%;
}
.cid-rVQGBMsMJ6 .nav-tabs .nav-link {
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  padding: 1rem;
  margin: 0px -0.5px;
  transition: all .5s;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom: 1px solid #31ccfe;
}
.cid-rVQGBMsMJ6 .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #31ccfe;
}
.cid-rVQGBMsMJ6 .nav-tabs .nav-link.active {
  border: 1px solid #31ccfe;
  border-bottom: none;
  font-style: normal;
  background-color: transparent;
}
.cid-rVQGBMsMJ6 .mbr-element-title,
.cid-rVQGBMsMJ6 .card-img {
  color: #188ef4;
}
.cid-rVQGBMsMJ6 .mbr-section-text {
  color: #ffffff;
}
.cid-s84a8dqtFb {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-s84a8dqtFb .mbr-figure img {
  border-radius: .25rem;
}
.cid-s84a8dqtFb .mbr-text {
  color: #8d97ad;
}
.cid-s84a8dqtFb .mbr-media {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s84a8dqtFb .play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ffffff;
  margin-right: -3px;
}
.cid-s84a8dqtFb .btn-play {
  box-shadow: 2px 8px 20px rgba(115, 128, 157, 0.3);
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  background: #51aafa;
  width: 60px;
  height: 60px;
  border: 1px solid #51aafa;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 27px;
  cursor: pointer;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.cid-s84a8dqtFb .modalWindow {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-s84a8dqtFb .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-s84a8dqtFb .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-s84a8dqtFb .wrapper-video {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s84a8dqtFb .icon-description {
  margin-left: 1rem;
  color: #333333;
}
.cid-s84a8dqtFb a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-s84a8dqtFb a.close:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s84a8dqtFb .mbr-section-title,
  .cid-s84a8dqtFb .mbr-text {
    text-align: center;
  }
  .cid-s84a8dqtFb .wrapper-video {
    -webkit-justify-content: center !important;
    justify-content: center !important;
  }
}
.cid-s84a8dqtFb H2 {
  color: #51aafa;
  text-align: left;
}
.cid-s84a8dqtFb .mbr-text,
.cid-s84a8dqtFb .mbr-section-btn {
  color: #333333;
}
.cid-s9eM48Pizt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (max-width: 767px) {
  .cid-s9eM48Pizt .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.cid-s9eM48Pizt h4,
.cid-s9eM48Pizt h5,
.cid-s9eM48Pizt p {
  margin-bottom: 0;
}
.cid-s9eM48Pizt p {
  color: #767676;
}
.cid-s9eM48Pizt .card-wrapper {
  transition: all 0.3s;
  background-color: #ffffff;
}
.cid-s9eM48Pizt .card-wrapper .card-box {
  padding: 1.2rem;
}
.cid-s9eM48Pizt .card-wrapper:hover {
  box-shadow: 0 10px 55px 5px rgba(131, 194, 251, 0.35);
}
@media (min-width: 992px) {
  .cid-s9eM48Pizt .card-box {
    position: relative;
  }
  .cid-s9eM48Pizt .mbr-text {
    width: 100%;
    position: absolute;
    padding: 1.2rem 1.2rem 0;
    margin-bottom: -1.2rem;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s;
    bottom: 100%;
    transform: translateY(100%);
    left: 0;
  }
  .cid-s9eM48Pizt .card-wrapper:hover .mbr-text {
    opacity: 1;
    transform: translateY(0);
  }
}
.cid-s9eM48Pizt .card-wrapper {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.cid-s9eM48Pizt .card-box {
  padding-top: 2rem;
  display: inline-block;
  width: 100%;
}
.cid-s9eM48Pizt .card-title,
.cid-s9eM48Pizt .main-title {
  color: #149dcc;
}
.cid-s9eM48Pizt .card-link {
  color: #51aafa;
}
.cid-s9erKAU2JD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-s9erKAU2JD .mbr-overlay {
  background: #efefef;
}
.cid-s9erKAU2JD .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s9erKAU2JD .client-name {
  color: #8d97ad;
}
.cid-s9erKAU2JD .wrap-img {
  padding-bottom: 1rem;
}
.cid-s9erKAU2JD .wrap-img img {
  max-width: 100%;
}
.cid-s9erKAU2JD .card-box p {
  color: #8d97ad;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-s84n1BphGv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s84n1BphGv .nav-tabs .nav-item.open .nav-link:focus,
.cid-s84n1BphGv .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-s84n1BphGv .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-right: 1px solid #8d97ad;
  border-bottom: none;
  padding-right: 4rem;
}
.cid-s84n1BphGv .nav-tabs .nav-item {
  padding: .5rem;
}
.cid-s84n1BphGv p {
  padding-left: 2rem;
  color: #879a9f;
}
.cid-s84n1BphGv .col-md-12 {
  flex-direction: row;
  display: flex;
}
.cid-s84n1BphGv .nav-tabs .nav-link {
  color: #8d97ad;
  font-style: normal;
  font-weight: 500;
  transition: all .5s;
  border: none;
}
.cid-s84n1BphGv .nav-tabs .nav-link:hover {
  cursor: pointer;
  color: #51aafa;
}
.cid-s84n1BphGv .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #51aafa;
  font-style: normal;
}
@media (max-width: 992px) {
  .cid-s84n1BphGv .nav-tabs {
    flex-direction: row;
    border-right: 0px;
    padding-right: 0rem;
    border-bottom: 1px solid lightgray;
  }
  .cid-s84n1BphGv .col-md-12 {
    flex-direction: column;
    display: flex;
  }
  .cid-s84n1BphGv p {
    padding-left: 0rem;
  }
}
@media (max-width: 576px) {
  .cid-s84n1BphGv .mbr-text,
  .cid-s84n1BphGv .nav-link {
    text-align: center;
  }
  .cid-s84n1BphGv .col-md-12 {
    flex-direction: column;
    display: flex;
  }
  .cid-s84n1BphGv .nav-tabs {
    border-right: 0px;
    padding-right: 0rem;
    flex-direction: column;
  }
  .cid-s84n1BphGv p {
    padding-left: 0rem;
  }
}
.cid-s84n1BphGv P {
  color: #3c464a;
}
.cid-s85bd1XkpO {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s85bd1XkpO .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-s85bd1XkpO .panel-group {
  width: 100%;
}
.cid-s85bd1XkpO .panel-text,
.cid-s85bd1XkpO .header-text,
.cid-s85bd1XkpO .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s85bd1XkpO .card {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  margin-bottom: .5rem;
  border: none;
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.cid-s85bd1XkpO .card .card-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  padding: 0;
}
.cid-s85bd1XkpO .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  line-height: normal;
}
.cid-s85bd1XkpO .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s85bd1XkpO .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-s85bd1XkpO .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
}
.cid-s85bd1XkpO .card .card-header a.panel-title[aria-expanded="true"] {
  background-color: #51aafa;
}
.cid-s85bd1XkpO .card .card-header a.panel-title[aria-expanded="true"] .header-text {
  color: #ffffff !important;
}
.cid-s85bd1XkpO .card .panel-body {
  background: #ffffff;
}
.cid-s85bd1XkpO .sign {
  color: #232323;
}
.cid-s9eqkFzQ4k {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s9eqkFzQ4k .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-s9eqkFzQ4k .panel-group {
  width: 100%;
}
.cid-s9eqkFzQ4k .panel-text,
.cid-s9eqkFzQ4k .header-text,
.cid-s9eqkFzQ4k .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s9eqkFzQ4k .card {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  margin-bottom: .5rem;
  border: none;
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.cid-s9eqkFzQ4k .card .card-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  padding: 0;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  line-height: normal;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title[aria-expanded="true"] {
  background-color: #51aafa;
}
.cid-s9eqkFzQ4k .card .card-header a.panel-title[aria-expanded="true"] .header-text {
  color: #ffffff !important;
}
.cid-s9eqkFzQ4k .card .panel-body {
  background: #ffffff;
}
.cid-s9eqkFzQ4k .sign {
  color: #232323;
}
.cid-s9eCwJQbK6 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s9eCwJQbK6 .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-s9eCwJQbK6 .panel-group {
  width: 100%;
}
.cid-s9eCwJQbK6 .panel-text,
.cid-s9eCwJQbK6 .header-text,
.cid-s9eCwJQbK6 .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s9eCwJQbK6 .card {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  margin-bottom: .5rem;
  border: none;
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.cid-s9eCwJQbK6 .card .card-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  padding: 0;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  line-height: normal;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title[aria-expanded="true"] {
  background-color: #51aafa;
}
.cid-s9eCwJQbK6 .card .card-header a.panel-title[aria-expanded="true"] .header-text {
  color: #ffffff !important;
}
.cid-s9eCwJQbK6 .card .panel-body {
  background: #ffffff;
}
.cid-s9eCwJQbK6 .sign {
  color: #232323;
}
.cid-s9eixUKh4w {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  background-color: #232323;
}
.cid-s9eixUKh4w ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cid-s9eixUKh4w ul li {
  padding: 1rem 0;
}
.cid-s9eixUKh4w ul li:hover {
  color: #51aafa;
}
.cid-s9eixUKh4w .socicon {
  color: #fff;
  font-size: 1.5rem;
}
.cid-s9eixUKh4w .mbr-iconfont {
  margin-right: 1em;
  display: inline-block;
  vertical-align: bottom;
}
.cid-s9eixUKh4w .google-map {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  position: relative;
}
.cid-s9eixUKh4w .map {
  padding: 0;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s9eixUKh4w .map iframe {
  -webkit-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .cid-s9eixUKh4w .map {
    height: auto;
  }
}
.cid-s9eixUKh4w .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-s9eixUKh4w .social-list .soc-item {
  padding: 0;
  margin: 2rem 2rem 0 0;
  display: inline-block;
}
.cid-s9eixUKh4w .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s9eixUKh4w .social-list a:hover {
  opacity: 1;
}
.cid-s9eixUKh4w .row-element,
.cid-s9eixUKh4w .image-element {
  padding: 0;
}
.cid-s9eixUKh4w .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-s9eixUKh4w .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #51aafa, #51aafa);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-s9eixUKh4w .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-s9eixUKh4w .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s9eixUKh4w .text-content {
    padding: 2rem 1rem;
  }
  .cid-s9eixUKh4w .underline .line {
    height: 2px;
  }
  .cid-s9eixUKh4w .mbr-title,
  .cid-s9eixUKh4w .underline,
  .cid-s9eixUKh4w .mbr-text,
  .cid-s9eixUKh4w .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-s9eixUKh4w .mbr-title,
.cid-s9eixUKh4w .underline {
  color: #ffffff;
}
.cid-s9eixUKh4w .mbr-text,
.cid-s9eixUKh4w .mbr-section-btn {
  color: #ffffff;
}
.cid-s9eixUKh4w mbr-list LI {
  color: #ffffff;
}
.cid-s9eixUKh4w mbr-list {
  text-align: center;
}
.cid-s9eixUKh4w .mbr-list,
.cid-s9eixUKh4w .social-list mbr-list {
  color: #ffffff;
}
.cid-s9eixUKh4w .mbr-text {
  color: #51aafa;
  text-align: left;
}
.cid-s9el9WCMXQ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #111111;
}
.cid-s9el9WCMXQ .mbr-text {
  color: #444;
}
.cid-s9el9WCMXQ .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s9el9WCMXQ .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-s9el9WCMXQ .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s9el9WCMXQ .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s9el9WCMXQ .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-s9el9WCMXQ .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s9el9WCMXQ .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-s9el9WCMXQ .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
.cid-s9el9WCMXQ .links {
  color: #efefef;
}
.cid-s9el9WCMXQ P {
  color: #ffffff;
}
.cid-s9el9WCMXQ H6 {
  color: #ffffff;
}
.cid-s9el9WCMXQ .copyright > p {
  color: #efefef;
  text-align: right;
}
.cid-repci1VYkJ .opened .text-white {
  color: black !important;
}
.cid-repci1VYkJ .navbar-caption {
  color: green;
}
.cid-repci1VYkJ .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-repci1VYkJ .nav-item,
.cid-repci1VYkJ .nav-link,
.cid-repci1VYkJ .navbar-caption {
  font-weight: normal;
}
.cid-repci1VYkJ .nav-item:focus,
.cid-repci1VYkJ .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-repci1VYkJ .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-repci1VYkJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-repci1VYkJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-repci1VYkJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-repci1VYkJ .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-repci1VYkJ .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-repci1VYkJ .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-repci1VYkJ .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-repci1VYkJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-repci1VYkJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-repci1VYkJ .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-repci1VYkJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-repci1VYkJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-repci1VYkJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-repci1VYkJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-repci1VYkJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-repci1VYkJ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-repci1VYkJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-repci1VYkJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-repci1VYkJ .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-repci1VYkJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-repci1VYkJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-repci1VYkJ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-repci1VYkJ .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-repci1VYkJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-repci1VYkJ .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-repci1VYkJ .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-repci1VYkJ .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-repci1VYkJ .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-repci1VYkJ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-repci1VYkJ .navbar.navbar-short .text-white {
  font-size: 16px !important;
  color: black !important;
}
.cid-repci1VYkJ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-repci1VYkJ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-repci1VYkJ .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-repci1VYkJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-repci1VYkJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-repci1VYkJ .dropdown-item.active,
.cid-repci1VYkJ .dropdown-item:active {
  background-color: transparent;
}
.cid-repci1VYkJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-repci1VYkJ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-repci1VYkJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-repci1VYkJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-repci1VYkJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-repci1VYkJ ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-repci1VYkJ .navbar-buttons {
  text-align: center;
}
.cid-repci1VYkJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-repci1VYkJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-repci1VYkJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-repci1VYkJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-repci1VYkJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-repci1VYkJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-repci1VYkJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-repci1VYkJ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-repci1VYkJ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-repci1VYkJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-repci1VYkJ .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-repci1VYkJ a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-repci1VYkJ .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-repci1VYkJ .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-repci1VYkJ .soc-item {
  margin: .5rem .3rem;
}
.cid-repci1VYkJ .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-repci1VYkJ .navbar {
    height: 77px;
  }
  .cid-repci1VYkJ .navbar.opened {
    height: auto;
  }
  .cid-repci1VYkJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
